<html>
	<head>
		<title>Underlords Helper - Results</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<h1>Result of processing your scoreboard</h1>
    <script>
        $(document).ready(function(){
            var result = {{ roll_data|tojson }};
            if (!result.length){
                $(".result-table").hide();
                $(".debug-img").hide();
                $('body').append('<h3>We were not able to find scoreboard on your image. If you are sure it is there, contact developer. leprosy93 at gmail.com</h3>');

                return;
            }

            for (i = 0; i < result.length; i++){
                data = result[i];
                $(".result-table").append('<tr>' +
                    '<td>' + data.hero + '</td>' +
                    '<td>' + data.count+ '</td>' +
                    '<td>' + data.chances[5] + '</td>' +
                    '<td>' + data.chances[10] + '</td>' +
                    '<td>' + data.chances[15] + '</td>' +
                '</tr>');
            }
        });
    </script>
	<table class="result-table">
		<thead>
			<td>Hero</td>
			<td>Needed for upgrade</td>
			<td>Chance in 5 rolls</td>
			<td>Chance in 10 rolls</td>
			<td>Chance in 15 rolls</td>
		</thead>
	</table>
	<a href="/{{ old_file }}">Uploaded image</a>
	<a class="debug-img" href="/{{ new_file }}">Debug image</a>
</html>
